## 1. Mapping

### 1.1 Example 1

#### For example, let's create a function that divides a number by 2 and returns the result.

In [15]:
def suma(x):
    return x/2

#### Now that we have our function, let's apply it to a list of numbers.

In [16]:
l = [4,8,12,18]

ls = map(suma,l)

In [4]:
list(ls)

#sin el list solo te dice la función que está aplicando

[2.0, 4.0, 6.0, 9.0]

#### The map function creates a map object which is an iterable object. To create a new list, one option is to convert the iterable into a list.

### 1.2 Example 2

In [6]:
items = [1,2,3,4,5]

def pot(x):
    return x**2

In [7]:
sq =  list(map(pot,items))

In [8]:
print(sq)

[1, 4, 9, 16, 25]

In [9]:
res = []

for i in items:
    res.append(i**2)

In [10]:
print(res,sq)

[1, 4, 9, 16, 25] [1, 4, 9, 16, 25]

## 2. Filtering

### 2.1 Example 1

#### For example, we can create a function that returns true if a number is odd and false if it is even.

In [14]:
list(filter(lambda x: x % 2 == 0, res))

[4, 16]

In [11]:
def odd(x):
    if x%2 == 0:
        return x

[4, 8, 12, 18]

#### Again, this returns an iterable, so we will cast it to a list.

### 2.2 Example 2

In [18]:
num = range(-10,10)

In [19]:
def pos(x):
    if x < 0:
        return x

#### Filtering the negative numbers

In [21]:
list(filter(pos,num))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

## Reducing

In [24]:
from functools import reduce

### 3.1 Example 1

#### For example, if we would like to create a summation function using reduce(), we will sum two elements at a time. Let's write a lambda expression that will take two elements and sum them.

In [22]:
div = lambda x, y: x+y

#### By passing this lambda expression to the reduce() function (along with a list [10,12,34,23], we will perform the folloaa

In [23]:
l2 = [0,3,5,10]

In [25]:
s = reduce(div,l2)

#en el caso de reduce no hace falta agregar list()

In [26]:
s

18

### 3.2 Exmple 2

#### For example, if you wanted to compute the product of a list of integers. So the normal way you might go about doing this task in python is using a basic for loop:

In [27]:
p = reduce(lambda x, y: x*y, [1,2,3,4])

In [28]:
p

24

## 4. Applying them in Pandas

### 4.1 Example 1

#### Here is the example of a dataframe

In [35]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randn(4, 3), columns=['a', 'b', 'c'])
df

          a         b         c
0 -0.040509  0.113276 -0.819381
1 -1.416237 -0.472814  0.394538
2  0.448141 -0.933834 -0.058108
3  0.867946  0.363675 -0.574022

#### We can use the sum() function previously defined and apply it to every cell in the dataframe.

In [36]:
df.apply(suma)

#esto no sobreescribe el dataframe

          a         b         c
0 -0.020254  0.056638 -0.409690
1 -0.708118 -0.236407  0.197269
2  0.224070 -0.466917 -0.029054
3  0.433973  0.181837 -0.287011

In [37]:
#para aplicar solo a una columna

df['a'].apply(suma)

0   -0.020254
1   -0.708118
2    0.224070
3    0.433973
Name: a, dtype: float64

#### Furthermore, we can define an aggregate function that will return the range of a column.

In [38]:
def range_df(x):
    return max(x) - min(x)

In [39]:
df.apply(range_df)

a    2.284183
b    1.297508
c    1.213919
dtype: float64