In [1]:
import pandas as pd
import random

# read the data from the downloaded CSV file.
data = pd.read_csv('https://s3-eu-west-1.amazonaws.com/shanebucket/downloads/uk-500.csv')
# set a numeric id for use as an index for examples.
data['id'] = [random.randint(0,1000) for x in range(data.shape[0])]

data.head()

,first_name,last_name,company_name,address,city,county,postal,phone1,phone2,email,web,id
0,Aleshia,Tomkiewicz,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk,947
1,Evan,Zigomalas,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk,228
2,France,Andrade,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk,753
3,Ulysses,Mcwalters,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk,989
4,Tyisha,Veness,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk,900

# .iloc

In [3]:
#Single selections using iloc an DataFrame
data.iloc[0]
# first row of data frame

first_name                                   Aleshia
last_name                                 Tomkiewicz
company_name                 Alan D Rosenburg Cpa Pc
address                                 14 Taylor St
city                               St. Stephens Ward
county                                          Kent
postal                                       CT2 7PP
phone1                                  01835-703597
phone2                                  01944-369967
email                        atomkiewicz@hotmail.com
web             http://www.alandrosenburgcpapc.co.uk
id                                               947
Name: 0, dtype: object

In [5]:
#Select last row using iloc
data.iloc[-1]

first_name                                               Mi
last_name                                            Richan
company_name                 Nelson Wright Haworth Golf Crs
address                                     6 Norwood Grove
city                                      Tanworth-in-Arden
county                                         Warwickshire
postal                                              B94 5RZ
phone1                                         01451-785624
phone2                                         01202-738406
email                                        mi@hotmail.com
web             http://www.nelsonwrighthaworthgolfcrs.co.uk
id                                                      640
Name: 499, dtype: object

In [6]:
#Select second row
data.iloc[1]

first_name                                   Evan
last_name                               Zigomalas
company_name                   Cap Gemini America
address                               5 Binney St
city                                   Abbey Ward
county                            Buckinghamshire
postal                                   HP11 2AX
phone1                               01937-864715
phone2                               01714-737668
email                    evan.zigomalas@gmail.com
web             http://www.capgeminiamerica.co.uk
id                                            228
Name: 1, dtype: object

In [12]:
#la primera columna. el primer parámetro indica que quiero todas las filas (:)
#el segundo parámetro indica que quiero la primera columna
#con loc debería poner el nombre de la columna como string, en lugar del 0
#si pongo el 0 entre corchetes el look es como dataframe
data.iloc[:,0]

0          Aleshia
1             Evan
2           France
3          Ulysses
4           Tyisha
5             Eric
6             Marg
7          Laquita
8             Lura
9           Yuette
10        Fernanda
11     Charlesetta
12        Corrinne
13          Niesha
14          Rueben
15         Michell
16           Edgar
17          Dewitt
18        Charisse
19             Mee
20           Peter
21         Octavio
22          Martha
23         Tamesha
24            Tess
25         Leonard
26        Svetlana
27             Pok
28       Augustine
29           Karma
          ...
470           Tony
471            Val
472            Mel
473       Isabella
474         Erasmo
475          Ivory
476         Nikita
477          Aleta
478           Owen
479        Pauline
480        Tijuana
481          Ahmad
482         Jamika
483        Derrick
484     Jacquelyne
485        Zachary
486         Sophia
487       Isabelle
488         Ronnie
489       Krystina
490         Rosita
491           Huey
492         Elbert
493           Pura
494         Alesia
495          Avery
496           Reid
497      Charlette
498      Celestina
499             Mi
Name: first_name, Length: 500, dtype: object

In [13]:
#segunda columna del DF

data.iloc[:,1]
data.loc[:,'last_name']

0      Tomkiewicz
1       Zigomalas
2         Andrade
3       Mcwalters
4          Veness
5           Rampy
6        Grasmick
7           Hisaw
8        Manzella
9          Klapec
10         Writer
11            Erm
12          Jaret
13          Bruch
14      Gastellum
15      Throssell
16          Kanne
17          Julio
18       Spinello
19       Lapinski
20      Gutierres
21      Salvadore
22        Teplica
23         Veigel
24          Sitra
25         Kufner
26         Tauras
27       Molaison
28       Growcock
29         Quarto
          ...
470    Diazdeleon
471        Villot
472      Picciuto
473    Piatkowski
474          Rhea
475       Lohrenz
476         Walka
477        Ligons
478       Jentzen
479         Fling
480      Machalek
481       Alsaqri
482        Conoly
483       Dolloff
484       Reibman
485    Freeburger
486       Gaucher
487          Kono
488       Brigman
489    Schlabaugh
490     Ausdemore
491       Stancil
492       Fiorino
493       Manciel
494         Katie
495          Veit
496       Euresti
497      Brenning
498         Keeny
499        Richan
Name: last_name, Length: 500, dtype: object

In [14]:
#última columna
data.iloc[:,-1]

0      947
1      228
2      753
3      989
4      900
5      882
6      433
7      226
8      310
9      617
10     766
11     164
12     593
13     216
14      23
15     133
16     173
17     963
18     236
19      28
20     210
21     866
22     255
23     168
24     882
25     445
26     396
27     750
28     393
29     918
      ...
470    129
471    817
472    862
473    959
474    318
475     22
476    566
477     10
478    921
479    159
480    305
481    356
482    262
483    945
484    253
485    265
486     70
487      8
488    126
489    487
490    508
491    888
492    960
493    279
494    182
495    372
496    308
497    106
498    461
499    640
Name: id, Length: 500, dtype: int64

In [15]:
#las primeras 5 filas del df
data.iloc[:5]

,first_name,last_name,company_name,address,city,county,postal,phone1,phone2,email,web,id
0,Aleshia,Tomkiewicz,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk,947
1,Evan,Zigomalas,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk,228
2,France,Andrade,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk,753
3,Ulysses,Mcwalters,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk,989
4,Tyisha,Veness,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk,900

In [17]:
#primeras dos columnas del df con todas las filas
data.iloc[:,:2]

      first_name   last_name
0        Aleshia  Tomkiewicz
1           Evan   Zigomalas
2         France     Andrade
3        Ulysses   Mcwalters
4         Tyisha      Veness
5           Eric       Rampy
6           Marg    Grasmick
7        Laquita       Hisaw
8           Lura    Manzella
9         Yuette      Klapec
10      Fernanda      Writer
11   Charlesetta         Erm
12      Corrinne       Jaret
13        Niesha       Bruch
14        Rueben   Gastellum
15       Michell   Throssell
16         Edgar       Kanne
17        Dewitt       Julio
18      Charisse    Spinello
19           Mee    Lapinski
20         Peter   Gutierres
21       Octavio   Salvadore
22        Martha     Teplica
23       Tamesha      Veigel
24          Tess       Sitra
25       Leonard      Kufner
26      Svetlana      Tauras
27           Pok    Molaison
28     Augustine    Growcock
29         Karma      Quarto
..           ...         ...
470         Tony  Diazdeleon
471          Val      Villot
472          Mel    Picciuto
473     Isabella  Piatkowski
474       Erasmo        Rhea
475        Ivory     Lohrenz
476       Nikita       Walka
477        Aleta      Ligons
478         Owen     Jentzen
479      Pauline       Fling
480      Tijuana    Machalek
481        Ahmad     Alsaqri
482       Jamika      Conoly
483      Derrick     Dolloff
484   Jacquelyne     Reibman
485      Zachary  Freeburger
486       Sophia     Gaucher
487     Isabelle        Kono
488       Ronnie     Brigman
489     Krystina  Schlabaugh
490       Rosita   Ausdemore
491         Huey     Stancil
492       Elbert     Fiorino
493         Pura     Manciel
494       Alesia       Katie
495        Avery        Veit
496         Reid     Euresti
497    Charlette    Brenning
498    Celestina       Keeny
499           Mi      Richan

[500 rows x 2 columns]

In [18]:
#1a, 4a, 7a, 25a fila + 1a, 6a, 7a columna
data.iloc[[0,3,6,24], [0,5,6]]

   first_name        county    postal
0     Aleshia          Kent   CT2 7PP
3     Ulysses  Lincolnshire  DN36 5RP
6        Marg   Southampton  SO14 3TY
24       Tess   West Sussex  PO19 1RH

In [21]:
#las primeras 5 filas y las columns 5,6 y 7
data.iloc[:5, 4:7]

                             city           county    postal
0               St. Stephens Ward             Kent   CT2 7PP
1                      Abbey Ward  Buckinghamshire  HP11 2AX
2  East Southbourne and Tuckton W      Bournemouth   BH6 3BE
3              Hawerby cum Beesby     Lincolnshire  DN36 5RP
4      Greets Green and Lyng Ward    West Midlands   B70 9DT

# .loc

In [24]:
# primero vamos a cambiarle el índice

data.set_index('last_name', inplace=True)
data.head()

KeyError: 'last_name'

In [25]:
data.head()

,first_name,company_name,address,city,county,postal,phone1,phone2,email,web,id
last_name,,,,,,,,,,,
Tomkiewicz,Aleshia,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk,947
Zigomalas,Evan,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk,228
Andrade,France,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk,753
Mcwalters,Ulysses,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk,989
Veness,Tyisha,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk,900

In [26]:
#queremos de Zigomalas a Veness
data.loc['Zigomalas':'Veness']

,first_name,company_name,address,city,county,postal,phone1,phone2,email,web,id
last_name,,,,,,,,,,,
Zigomalas,Evan,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk,228
Andrade,France,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk,753
Mcwalters,Ulysses,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk,989
Veness,Tyisha,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk,900

In [27]:
#queremos la fila del señor andrade
data.loc['Andrade']

first_name                                France
company_name                 Elliott, John W Esq
address                             8 Moor Place
city              East Southbourne and Tuckton W
county                               Bournemouth
postal                                   BH6 3BE
phone1                              01347-368222
phone2                              01935-821636
email                 france.andrade@hotmail.com
web             http://www.elliottjohnwesq.co.uk
id                                           753
Name: Andrade, dtype: object

In [28]:
#filtrar a andrade y vanessa y columnas city y county
data.loc[['Andrade', 'Veness'], ['city', 'county']]

                                     city         county
last_name
Andrade    East Southbourne and Tuckton W    Bournemouth
Veness         Greets Green and Lyng Ward  West Midlands

In [29]:
#los mismos, con first name, address and city columns
data.loc[['Andrade', 'Veness'], ['first_name', 'address', 'city']]

          first_name            address                            city
last_name
Andrade       France       8 Moor Place  East Southbourne and Tuckton W
Veness        Tyisha  5396 Forth Street      Greets Green and Lyng Ward

In [ ]:
#change the index to be set on the id column
data.set_index('id', inplace=True)

In [33]:
data.head()

,first_name,company_name,address,city,county,postal,phone1,phone2,email,web
id,,,,,,,,,,
947,Aleshia,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk
228,Evan,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk
753,France,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk
989,Ulysses,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk
900,Tyisha,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk

In [36]:
# select the row with 'id' = 952

data.loc[952]

first_name                                Nina
company_name                   Ramm Metals Inc
address                     5679 Gloucester Pl
city                               Calton Ward
county                          Dunbartonshire
postal                                 G40 4BH
phone1                            01434-621318
phone2                            01370-171283
email                      nyaklin@hotmail.com
web             http://www.rammmetalsinc.co.uk
Name: 952, dtype: object

In [37]:
#queremos los elementos de first_name que sean Antonio

data.loc[data['first_name']=='Antonio']

,first_name,company_name,address,city,county,postal,phone1,phone2,email,web
id,,,,,,,,,,
648,Antonio,Combs Sheetmetal,353 Standish St #8264,Little Parndon and Hare Street,Hertfordshire,CM20 2HT,01559-403415,01388-777812,antonio.villamarin@gmail.com,http://www.combssheetmetal.co.uk
80,Antonio,Saint Thomas Creations,425 Howley St,Gaer Community,Newport,NP20 3DE,01463-409090,01242-318420,antonio_glasford@glasford.co.uk,http://www.saintthomascreations.co.uk
252,Antonio,Radisson Suite Hotel,35 Elton St #3,Ipplepen,Devon,TQ12 5LL,01324-171614,01442-946357,antonio.heilig@gmail.com,http://www.radissonsuitehotel.co.uk

In [38]:
#sin el loc es lo puto mismo

data[data['first_name']=='Antonio']

,first_name,company_name,address,city,county,postal,phone1,phone2,email,web
id,,,,,,,,,,
648,Antonio,Combs Sheetmetal,353 Standish St #8264,Little Parndon and Hare Street,Hertfordshire,CM20 2HT,01559-403415,01388-777812,antonio.villamarin@gmail.com,http://www.combssheetmetal.co.uk
80,Antonio,Saint Thomas Creations,425 Howley St,Gaer Community,Newport,NP20 3DE,01463-409090,01242-318420,antonio_glasford@glasford.co.uk,http://www.saintthomascreations.co.uk
252,Antonio,Radisson Suite Hotel,35 Elton St #3,Ipplepen,Devon,TQ12 5LL,01324-171614,01442-946357,antonio.heilig@gmail.com,http://www.radissonsuitehotel.co.uk

In [40]:
#filas cuyo nombre sea aantonio y todas las columnas entre city y mail

data.loc[data['first_name']=='Antonio', 'city':'email']

,city,county,postal,phone1,phone2,email
id,,,,,,
648,Little Parndon and Hare Street,Hertfordshire,CM20 2HT,01559-403415,01388-777812,antonio.villamarin@gmail.com
80,Gaer Community,Newport,NP20 3DE,01463-409090,01242-318420,antonio_glasford@glasford.co.uk
252,Ipplepen,Devon,TQ12 5LL,01324-171614,01442-946357,antonio.heilig@gmail.com

In [41]:
#selecciona las filas donde mail column ends with hotmail.com, include all columns
data.loc[data['email'].str.endswith('hotmail.com')]

,first_name,company_name,address,city,county,postal,phone1,phone2,email,web
id,,,,,,,,,,
947,Aleshia,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk
753,France,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk
989,Ulysses,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk
900,Tyisha,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk
433,Marg,Wrangle Hill Auto Auct & Slvg,7457 Cowl St #70,Bargate Ward,Southampton,SO14 3TY,01865-582516,01362-620532,marg@hotmail.com,http://www.wranglehillautoauctslvg.co.uk
310,Lura,Bizerba Usa Inc,929 Augustine St,Staple Hill Ward,South Gloucestershire,BS16 4LL,01907-538509,01340-713951,lura@hotmail.com,http://www.bizerbausainc.co.uk
963,Dewitt,Rittenhouse Motor Co,7 Richmond St,Parkham,Devon,EX39 5DJ,01253-528327,01241-964675,dewitt.julio@hotmail.com,http://www.rittenhousemotorco.co.uk
882,Tess,Smart Signs,61 Rossett St,Chichester,West Sussex,PO19 1RH,01473-229124,01848-116775,tess_sitra@hotmail.com,http://www.smartsigns.co.uk
794,German,Jackson & Heit Machine Co Inc,7 Shenstone St,Longhill Ward,"Yorkshire, East (North Humbers",HU8 9PZ,01400-269033,01366-210656,german@hotmail.com,http://www.jacksonheitmachinecoinc.co.uk
804,Luis,Wa Inst For Plcy Studies,2 Birchfield Rd,Whittington,Shropshire,SY11 4PH,01462-648669,01405-648623,luis@hotmail.com,http://www.wainstforplcystudies.co.uk
133,Ciara,Wmgl 101.7 Fm,7523 Kempton Rd,Cockerton West Ward,Darlington,DL3 0JF,01235-647932,01809-443217,ciara_cobbley@hotmail.com,http://www.wmglfm.co.uk
605,Alethea,"Hughlett, Henry T Jr",6305 Elstow St,Castle Ward,West Sussex,BN12 6PR,01662-114247,01351-868965,alethea@hotmail.com,http://www.hughletthenrytjr.co.uk
277,Vicente,B & S Tool And Cutter Svc Inc,3060 St Ambrose Grove #261,Aldridge Central and South War,West Midlands,WS9 8UR,01327-770774,01286-258121,vicente_rawicki@hotmail.com,http://www.bstoolandcuttersvcinc.co.uk
161,Craig,"Berry, John M Esq",8388 Bessemer St #5,East Putney Ward,Greater London,SW15 2RP,01483-418969,01818-980469,craig@hotmail.com,http://www.berryjohnmesq.co.uk
434,Jenise,"Alden, Michael H Esq",87 Pownall Sq,Sawston,Cambridgeshire,CB22 3BB,01709-854691,01572-193368,jenise.dulle@hotmail.com,http://www.aldenmichaelhesq.co.uk
14,Annett,Guynes Design Inc,5562 Fairfield St #847,Ryde,Isle of Wight,PO33 1HH,01891-702579,01333-972244,abunselmeyer@hotmail.com,http://www.guynesdesigninc.co.uk
832,Domonique,Marketing Horizons Inc,95 Denton St,Wollaton West Ward,Nottinghamshire,NG8 2NB,01355-500797,01987-728730,domonique@hotmail.com,http://www.marketinghorizonsinc.co.uk
220,Chantay,Brewster Wallcoverings Co,763 Parkfield Rd,Norton Canes,Staffordshire,WS11 9RH,01823-383806,01245-146126,ckamens@hotmail.com,http://www.brewsterwallcoveringsco.co.uk
534,Stefany,L & L Sales Co Inc,636 Portland Place,Gresham Ward,Middlesbrough,TS1 4RG,01743-977277,01704-986828,stefany@hotmail.com,http://www.llsalescoinc.co.uk
479,Wendell,Automation Engrg & Mfg Inc,1 Back Canning St,Dunblane and Bridge of Allan W,Stirling,FK9 4LD,01837-530939,01752-386691,wendell_rubano@hotmail.com,http://www.automationengrgmfginc.co.uk
453,Una,Shamrock Food Service,6766 Britton St #379,Crompton Ward,Greater Manchester,BL1 3EX,01912-749219,01308-356704,ufrankel@hotmail.com,http://www.shamrockfoodservice.co.uk
699,Mammie,Matt Parrott & Sons Co,2577 Toxteth St #5,Overton Ward,Lancashire,BB6 7UN,01527-579687,01439-184366,mammie_dormanen@hotmail.com,http://www.mattparrottsonsco.co.uk
268,Eloisa,"Mcdonald, Michael J Esq",7033 Micawber St,Bintree,Norfolk,NR20 5NQ,01337-695353,01747-999761,eloisa.faurote@hotmail.com,http://www.mcdonaldmichaeljesq.co.uk
865,Sena,Alternative Collection Svc Inc,38 Avondale Rd #79,Kilmersdon,Somerset,BA3 5SJ,01756-678490,01836-695245,sena.langenbach@hotmail.com,http://www.alternativecollectionsvcinc.co.uk
996,Wade,Manhattan Supply Co Deer Pk,2546 Hunter St,Central Buchan Ward,Aberdeenshire,AB53 6YD,01712-978062,01317-960371,wade@hotmail.com,http://www.manhattansupplycodeerpk.co.uk
898,Deja,Universal Case Co,94 Wakefield St,Lavenham,Suffolk,CO10 9PU,01378-234592,01879-981256,deja.conatser@hotmail.com,http://www.universalcaseco.co.uk
63,Earnestine,A O J Mfg Corp,529 Stalmine Rd #3680,Saffron Walden,Essex,CB11 4DJ,01807-346103,01260-744622,earnestine_casper@hotmail.com,http://www.aojmfgcorp.co.uk
321,Rodrigo,"Godfroy, William Esq",661 Great Crosshall St,Forth Ward,City of Edinburgh,EH5 2LR,01936-611490,01280-275755,rodrigo@hotmail.com,http://www.godfroywilliamesq.co.uk
240,Casey,Sarrail Lynch & Hall,464 Back Nile St #618,Acton Central Ward,Greater London,W3 6QJ,01728-100333,01862-338494,casey.dondero@hotmail.com,http://www.sarraillynchhall.co.uk
100,Wei,Victory Coating,5221 Royston St,Eccleshall,Staffordshire,ST21 6GA,01912-146880,01608-570699,wei_nobel@hotmail.com,http://www.victorycoating.co.uk
...,...,...,...,...,...,...,...,...,...,...
867,Gail,Audrey M Borland Studios,6 Conyers St #3346,Hamilton South Ward,South Lanarkshire,ML3 7TE,01292-196869,01547-190531,gcarris@hotmail.com,http://www.audreymborlandstudios.co.uk
270,Dong,"Mayo, Timothy L Esq",8657 Cedar St #2,Kinross-shire Ward,Perth and Kinross,KY13 8EQ,01573-788734,01955-221720,doropeza@hotmail.com,http://www.mayotimothylesq.co.uk
64,Narcisa,Danka Business Systems,8783 High St,Milton,Cambridgeshire,CB24 6ZR,01724-644767,01689-339758,naraiza@hotmail.com,http://www.dankabusinesssystems.co.uk
606,Tamra,Davis Commercial Contracting,2 Park Rd Walton #4338,Lansdown Ward,Gloucestershire,GL50 2LF,01891-816938,01635-523740,tamra.yu@hotmail.com,http://www.daviscommercialcontracting.co.uk
93,Aracelis,Sm Toth Baldridge & Van Belkum,593 Kinglake St,Fowlmere,Cambridgeshire,SG8 7TP,01924-111018,01420-311467,aracelis.donham@hotmail.com,http://www.smtothbaldridgevanbelkum.co.uk
60,Chana,Olden Camera & Lens Co Inc,9 Ogwen St,Murdostoun Ward,North Lanarkshire,ML2 8LW,01477-796750,01858-335054,chana.perera@hotmail.com,http://www.oldencameralenscoinc.co.uk
348,Sueann,El Hispanic News,751 Stamford St,Werrington,Staffordshire,ST9 0AH,01886-226100,01717-449960,smandril@hotmail.com,http://www.elhispanicnews.co.uk
369,Alayna,South Bldg Code Congres,70 Royal St,Banchory and Mid Deeside Ward,Aberdeenshire,AB31 4AH,01964-720542,01983-132813,alayna_hoyal@hotmail.com,http://www.southbldgcodecongres.co.uk
749,Royce,Best Western Caprock Inn,2 Maple Grove,Kincorth,Aberdeenshire,AB12 5EJ,01972-770618,01431-812225,royce@hotmail.com,http://www.bestwesterncaprockinn.co.uk
242,Felice,A F Supl Co Div Automtc Firing,7602 Grantham St,Hexham,Northumberland,NE46 1QQ,01691-816025,01888-857515,felice.gone@hotmail.com,http://www.afsuplcodivautomtcfiring.co.uk
675,Stefania,Murray Whisnant Architects,10 Carisbrooke St,Shorne,Kent,DA12 3ED,01706-546951,01356-906646,stefania_leadbeater@hotmail.com,http://www.murraywhisnantarchitects.co.uk
852,Anglea,Waltons Carson Gardens,8 Thomaston St,Astley Bridge Ward,Greater Manchester,BL1 8RG,01818-292728,01436-350784,anglea_tritten@hotmail.com,http://www.waltonscarsongardens.co.uk
885,Germaine,Prg Company,1616 Menzies St #453,Tadworth and Walton Ward,Surrey,KT20 7PA,01366-388506,01957-962781,ghascall@hotmail.com,http://www.prgcompany.co.uk
610,Vicky,Medlab Environmental Test Inc,3922 Leda St,Moreton Morrell,Warwickshire,CV35 9BX,01625-805645,01602-772009,vschellenberge@hotmail.com,http://www.medlabenvironmentaltestinc.co.uk
474,Teresita,Mason Insurance Agency Inc,2015 Suburban Rd,Springfield Ward,Greater London,N16 6TD,01914-501391,01372-236506,teresita_gesell@hotmail.com,http://www.masoninsuranceagencyinc.co.uk
380,Quiana,Looking Good,1400 Ash St,Thorpe Hamlet Ward,Norfolk,NR1 4HS,01446-936944,01492-687388,quiana_scarsella@hotmail.com,http://www.lookinggood.co.uk
336,Anabel,William A Geppert True Value,30 Marine Parade #1,Staina Ward,Lancashire,FY5 4FN,01994-675650,01845-742562,anabel_baldock@hotmail.com,http://www.williamagepperttruevalue.co.uk
388,Rashida,Creative Consultants,8451 Bengel St,Brixham,Devon,TQ5 9JW,01286-317691,01913-489634,rashida@hotmail.com,http://www.creativeconsultants.co.uk
793,Altha,Male Power Ltd,650 Goring St,Rainham South Ward,Kent,ME8 9PN,01373-594236,01698-785700,altha@hotmail.com,http://www.malepowerltd.co.uk
469,Dortha,Atc Power Systems,6 Chestnut St,Gwersyllt Community,Wrexham,LL11 4RJ,01528-240870,01254-458143,dortha@hotmail.com,http://www.atcpowersystems.co.uk
582,Vallie,Micro Lan,352 Strathmore Rd,Shiphay-with-the-Willows Ward,Devon,TQ2 7JB,01251-120872,01630-603260,vyafaie@hotmail.com,http://www.microlan.co.uk
318,Erasmo,Martin Morrissey,5544 Sutherland St,Mortehoe,Devon,EX34 7DQ,01507-386397,01899-316385,erasmo_rhea@hotmail.com,http://www.martinmorrissey.co.uk
22,Ivory,Auto Body Color,9 Jackson St,Parr Ward,Merseyside,WA9 3QW,01876-642683,01651-132519,ivory@hotmail.com,http://www.autobodycolor.co.uk
566,Nikita,"Fred, Anthony Esq",3612 Bixteth St,Hucknall North Ward,Nottinghamshire,NG15 8DD,01282-123434,01724-455145,nwalka@hotmail.com,http://www.fredanthonyesq.co.uk
10,Aleta,Advantage Bookkeeping,4545 Victoria Rd,Kilbirnie and Beith Ward,North Ayrshire,KA15 1AT,01952-535977,01715-637895,aleta_ligons@hotmail.com,http://www.advantagebookkeeping.co.uk
70,Sophia,T C E Systems Inc,88 Upper Harrington St,North East Ward,North Lanarkshire,G69 8EL,01504-539114,01254-919378,sophia.gaucher@hotmail.com,http://www.tcesystemsinc.co.uk
508,Rosita,"Jurdem, Scott Esq",8 Heathfield St #657,Hailsham,East Sussex,BN27 1AJ,01273-236188,01997-765432,rausdemore@hotmail.com,http://www.jurdemscottesq.co.uk
888,Huey,Lindner Funds,275 Peel Sq,Park Ward,North Eart Lincolnshire,DN32 0PT,01502-139578,01468-195646,hstancil@hotmail.com,http://www.lindnerfunds.co.uk
960,Elbert,"Donald, G Nelson Esq",726 Westmoreland Place,Ballochmyle Ward,East Ayrshire,KA5 6EL,01724-467889,01992-537553,elbert@hotmail.com,http://www.donaldgnelsonesq.co.uk
640,Mi,Nelson Wright Haworth Golf Crs,6 Norwood Grove,Tanworth-in-Arden,Warwickshire,B94 5RZ,01451-785624,01202-738406,mi@hotmail.com,http://www.nelsonwrighthaworthgolfcrs.co.uk