In [2]:
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="/Users/ljgoico/desktop/ironhack/Ironhack Data Analytics.json"

In [3]:
from google.cloud import bigquery

In [10]:
client = bigquery.Client()

In [ ]:
#encontrar la estación que tiene el trip duration más largo para las mujeres

In [26]:
QUERY = '''
SELECT 
    DISTINCT gender
FROM `bigquery-public-data.new_york.citibike_trips`
'''

In [27]:
query_job = client.query(QUERY)

In [28]:
df = query_job.to_dataframe()

In [29]:
df.head(10)

    gender
0  unknown
1     male
2   female

In [33]:
query_2 = '''
SELECT
    end_station_name,
    max(tripduration) AS max_duration
FROM
    `bigquery-public-data.new_york.citibike_trips`
WHERE
    gender = 'female'
GROUP BY
    end_station_name
ORDER BY
    max_duration DESC
LIMIT 5
'''

In [34]:
query_job = client.query(query_2)

In [35]:
df2 = query_job.to_dataframe()

In [36]:
df2.head(10)

                   end_station_name  max_duration
0                 NYCBS Depot - SSP       5864661
1                 NYCBS Depot - DEL       3139345
2                 NYCBS Depot - PIT       2697582
3  Queens Plaza North & Crescent St       2298394
4              Division St & Bowery       2258170