## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [49]:
# Your code here
sample_list_1 = random.sample(range(100),80)
print(sample_list_1)

[55, 79, 25, 81, 95, 73, 47, 46, 26, 50, 89, 94, 43, 82, 54, 96, 45, 92, 56, 91, 80, 78, 60, 97, 11, 39, 44, 38, 9, 15, 59, 23, 21, 5, 16, 98, 49, 70, 24, 86, 22, 14, 36, 69, 65, 87, 7, 8, 30, 68, 90, 19, 3, 35, 41, 28, 0, 13, 83, 76, 57, 34, 42, 72, 51, 53, 99, 52, 10, 4, 27, 20, 1, 18, 33, 62, 75, 48, 32, 31]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [50]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [51]:
# Your code here

sample_list_2 = []

#with a for loop
for i in range(80):
    num = random.randint(1,100)
    sample_list_2.append(num)
    
print(sample_list_2)

[100, 64, 87, 68, 24, 16, 16, 42, 97, 24, 92, 48, 80, 86, 55, 95, 89, 68, 91, 88, 2, 31, 52, 58, 54, 90, 13, 76, 4, 66, 86, 89, 51, 22, 88, 16, 85, 92, 67, 71, 29, 19, 74, 71, 5, 31, 73, 96, 75, 15, 66, 12, 56, 77, 78, 93, 78, 80, 16, 70, 92, 43, 16, 46, 1, 30, 17, 28, 36, 88, 34, 2, 81, 89, 14, 60, 69, 34, 2, 66]

In [52]:
#List comprehension
sample_list_2 = [random.randint(1,100) for i in range(80)]

print(sample_list_2)

[12, 97, 79, 27, 76, 84, 61, 86, 71, 31, 71, 75, 40, 55, 72, 32, 88, 41, 54, 24, 36, 44, 7, 61, 22, 36, 70, 34, 92, 47, 87, 85, 69, 45, 82, 54, 68, 66, 40, 79, 49, 47, 7, 51, 57, 82, 23, 24, 2, 38, 96, 84, 22, 4, 72, 86, 5, 95, 91, 8, 21, 74, 43, 29, 70, 39, 82, 33, 24, 9, 22, 3, 68, 89, 34, 37, 50, 12, 77, 11]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [53]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))

59

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [57]:
# Your code here
set3 = set1 - set2

print(set3)

{0, 1, 10, 13, 14, 15, 16, 18, 19, 20, 25, 26, 28, 30, 35, 42, 46, 48, 52, 53, 56, 59, 60, 62, 65, 73, 78, 80, 81, 83, 90, 94, 98, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [58]:
# Your code here
set4 = set2 - set1

print(set4)

{2, 66, 37, 71, 40, 74, 12, 77, 61, 84, 85, 88, 29}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [59]:
# Your code here
set5 = set2.intersection(set1)

print(set5)

{3, 4, 5, 7, 8, 9, 11, 21, 22, 23, 24, 27, 31, 32, 33, 34, 36, 38, 39, 41, 43, 44, 45, 47, 49, 50, 51, 54, 55, 57, 68, 69, 70, 72, 75, 76, 79, 82, 86, 87, 89, 91, 92, 95, 96, 97}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [60]:
# Your code here
print("Set1", len(set1))
print("Set2", len(set2))
print("Set3", len(set3))
print("Set4", len(set4))
print("Set5", len(set5))

len(set5) == len(set1) - len(set3) == len(set2) - len(set4)

Set1 80
Set2 59
Set3 34
Set4 13
Set5 46

True

#### Create an empty set called `set6`.

In [61]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [65]:
# Your code here

set6.update(set3, set5)
print(set6)

{0, 1, 3, 4, 5, 7, 8, 9, 10, 11, 13, 14, 15, 16, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 31, 32, 33, 34, 35, 36, 38, 39, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 60, 62, 65, 68, 69, 70, 72, 73, 75, 76, 78, 79, 80, 81, 82, 83, 86, 87, 89, 90, 91, 92, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [66]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [67]:
# Your code here
set1containsset2 = set2.issubset(set1)
print(set1containsset2)

False

In [68]:
set1containsset3 = set3.issubset(set1)
print(set1containsset3)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [44]:
# Your code here
union3 = set3.union(set4,set5)
union2 = set1.union(set2)

union3 == union2

True

#### Using the `pop` method, remove the first element from `set1`.

In [71]:
# Your code here
set1.pop()

print(set1)

[None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [72]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

set1=[set1.remove(i) for i in list_to_remove if i in set1]
print(set1)

[]